body, p, div, span{
    font-family: 'Bahnschrift', sans-serif;
    color: 'rgb(30, 30, 30)'
}

h1, h2, h3{
    font-family: 'Bahnschrift ExtraBold', sans-serif;
}

h4, h5, h6{
    font-family: 'Bahnschrift SemiBold', sans-serif;
}

.ag-theme-alpine {
    --ag-font-size: 14px;
    --ag-font-family: 'Bahnschrift';
}

.ag-theme-alpine .ag-header {
    font-size: 16px;
}